doctype
html
	head
		title Table Generator
		link(href='/styles/bootstrap.min.css', rel='stylesheet',type='text/css')
	body
	div
		nav.navbar.navbar-inverse.navbar-static-top
			div.container
				div.navbar-header
					a(href='/').navbar-brand Kristi_the_coder	
				div#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.active
							a(href="/") Home
	block content